
  .tradutor-wrapper{
    padding: 40px;
    .headline-section{}
    .exemplos-section{
      .exemplo{
        // min-height: 400px;
        padding: 10px;
        resize: none;
        line-height: 1.5rem;
      }
    }
    section{
      padding-top:60px;
    }
  }
  
