<div class="tradutor-wrapper">
  <section class="headline-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <h1 class="text-center">Tradutor de AFN para AFD</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <p>Para traduzir o AFN para o AFD siga os seguintes passos:</p>
          <ol>
            <li>Copiar texto que contém a sequência de transições de um AFN de algum dos exemplos</li>
            <li>Clicar no botão de traduzir</li>
            <li>Visualizar o resultado abaixo</li>
          </ol>
        </div>
      </div>
    </div>
      
  </section>
  <section class="exemplos-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4" *ngFor="let exemplo of exemplos">
          <div class="form-group">
            <label [for]="exemplo.name">{{exemplo.title}}</label>
            <textarea class="form-control exemplo" [name]="exemplo.name" readonly>{{exemplo.content}}</textarea>
            <br>
            <button class="btn btn-primary btn-block" (click)="useThis(exemplo.content)">Usar esse</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="tradutor-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Tradutor:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <form [formGroup]="AutomataForm">
            <div class="form-group">
              <label for="afn">Transições AFN</label>
              <textarea autosize class="form-control afd" name="afn" formControlName="afn"></textarea>
            </div>
          </form>
          <button class="btn btn-primary btn-block" (click)="translateAutomata(AutomataForm.value.afn)" [disabled]="AutomataForm.value.afn == ''">Traduzir AFN</button>
        </div>
        <div class="col-12 col-md-6" *ngIf="AFDOutput.length > 0">
          <form [formGroup]="afdForm">
            <div class="form-group">
              <label for="afd">Transições AFD</label>
              <textarea autosize class="form-control afn" name="afd" readonly formControlName="afd"></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  </div>
